<font color="black">site1 set event: e5 in pushMode for sites:  cent2<br /></font><br /><br />
<font color="black">site1 set event: e3 in pushMode for sites:  cent1<br /></font><br /><br />
<font color="blue">site1 detected e5 at 1465636846799</font><br /><br />
<font color="blue">site1 detected e3 at 1465636849813</font><br /><br />
<font color="blue">site1 detected e3 at 1465636856809</font><br /><br />
<font color="blue">site1 detected e1 at 1465636861806</font><br /><br />
<font color="blue">site1 detected e3 at 1465636861822</font><br /><br />
<font color="blue">site1 detected e3 at 1465636864819</font><br /><br />
<font color="blue">site1 detected e3 at 1465636891822</font><br /><br />
<font color="blue">site1 detected e3 at 1465636896801</font><br /><br />
