<font color="green">site1 detected CounterEvent at 1508271784106</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271784231</font><br /><br />
<font color="blue">site1 received Play at -1136000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271786056</font><br /><br />
<font color="blue">site1 received Play at -1136000</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271786365</font><br /><br />
<font color="blue">site1 received Play at -1136000</font><br /><br />
<font color="blue">site1 received Play at -1136000</font><br /><br />
<font color="blue">site1 received Play at -1136000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271788038</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271788063</font><br /><br />
<font color="blue">site1 received Play at -1136000</font><br /><br />
<font color="blue">site1 received Play at -1136000</font><br /><br />
<font color="blue">site1 received Play at -1136000</font><br /><br />
<font color="blue">site1 received Play at -1134000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271790068</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271790095</font><br /><br />
<font color="blue">site1 received Play at -1132000</font><br /><br />
<font color="blue">site1 received Play at -1131000</font><br /><br />
<font color="blue">site1 received Play at -1131000</font><br /><br />
<font color="blue">site1 received Play at -1131000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271792033</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271792048</font><br /><br />
<font color="blue">site1 received Play at -1129000</font><br /><br />
<font color="blue">site1 received Play at -1129000</font><br /><br />
<font color="blue">site1 received Play at -1129000</font><br /><br />
<font color="blue">site1 received Play at -1129000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271794029</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271794038</font><br /><br />
<font color="blue">site1 received Play at -1129000</font><br /><br />
<font color="blue">site1 received Play at -1127000</font><br /><br />
<font color="blue">site1 received Play at -1127000</font><br /><br />
<font color="blue">site1 received Play at -1127000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271796034</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271796057</font><br /><br />
<font color="blue">site1 received Play at -1127000</font><br /><br />
<font color="blue">site1 received Play at -1127000</font><br /><br />
<font color="blue">site1 received Play at -1127000</font><br /><br />
<font color="blue">site1 received Play at -1127000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271798034</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271798042</font><br /><br />
<font color="blue">site1 received Play at -1127000</font><br /><br />
<font color="blue">site1 received Play at -1123000</font><br /><br />
<font color="blue">site1 received Play at -1123000</font><br /><br />
<font color="blue">site1 received Play at -1123000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271800050</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271800065</font><br /><br />
<font color="blue">site1 received Play at -1123000</font><br /><br />
<font color="blue">site1 received Play at -1122000</font><br /><br />
<font color="blue">site1 received Play at -1122000</font><br /><br />
<font color="blue">site1 received Play at -1122000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271802036</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271802054</font><br /><br />
<font color="blue">site1 received Play at -1122000</font><br /><br />
<font color="blue">site1 received Play at -1122000</font><br /><br />
<font color="blue">site1 received Play at -1122000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271804029</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271804051</font><br /><br />
<font color="blue">site1 received Play at -1122000</font><br /><br />
<font color="blue">site1 received Play at -1122000</font><br /><br />
<font color="blue">site1 received Play at -1122000</font><br /><br />
<font color="blue">site1 received Play at -1122000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271806047</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271806061</font><br /><br />
<font color="blue">site1 received Play at -1122000</font><br /><br />
<font color="blue">site1 received Play at -1122000</font><br /><br />
<font color="blue">site1 received Play at -1122000</font><br /><br />
<font color="blue">site1 received Play at -1121000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271808085</font><br /><br />
<font color="blue">site1 received Play at -1120000</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271808315</font><br /><br />
<font color="blue">site1 received Play at -1120000</font><br /><br />
<font color="blue">site1 received Play at -1120000</font><br /><br />
<font color="blue">site1 received Play at -1120000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271810059</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271810089</font><br /><br />
<font color="blue">site1 received Play at -1118000</font><br /><br />
<font color="blue">site1 received Play at -1117000</font><br /><br />
<font color="blue">site1 received Play at -1116000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271812031</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271812047</font><br /><br />
<font color="blue">site1 received Play at -1116000</font><br /><br />
<font color="blue">site1 received Play at -1116000</font><br /><br />
<font color="blue">site1 received Play at -1116000</font><br /><br />
<font color="blue">site1 received Play at -1116000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271814031</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271814043</font><br /><br />
<font color="blue">site1 received Play at -1115000</font><br /><br />
<font color="blue">site1 received Play at -1115000</font><br /><br />
<font color="blue">site1 received Play at -1115000</font><br /><br />
<font color="blue">site1 received Play at -1115000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271816040</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271816050</font><br /><br />
<font color="blue">site1 received Play at -1115000</font><br /><br />
<font color="blue">site1 received Play at -1114000</font><br /><br />
<font color="blue">site1 received Play at -1113000</font><br /><br />
<font color="blue">site1 received Play at -1113000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271818029</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271818046</font><br /><br />
<font color="blue">site1 received Play at -1113000</font><br /><br />
<font color="blue">site1 received Play at -1113000</font><br /><br />
<font color="blue">site1 received Play at -1113000</font><br /><br />
<font color="blue">site1 received Play at -1113000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271820116</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271820132</font><br /><br />
<font color="blue">site1 received Play at -1113000</font><br /><br />
<font color="blue">site1 received Play at -1113000</font><br /><br />
<font color="blue">site1 received Play at -1113000</font><br /><br />
<font color="blue">site1 received Play at -1113000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271822035</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271822057</font><br /><br />
<font color="blue">site1 received Play at -1113000</font><br /><br />
<font color="blue">site1 received Play at -1113000</font><br /><br />
<font color="blue">site1 received Play at -1111000</font><br /><br />
<font color="blue">site1 received Play at -1111000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271824039</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271824072</font><br /><br />
<font color="blue">site1 received Play at -1111000</font><br /><br />
<font color="blue">site1 received Play at -1111000</font><br /><br />
<font color="blue">site1 received Play at -1111000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271826047</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271826071</font><br /><br />
<font color="blue">site1 received Play at -1111000</font><br /><br />
<font color="blue">site1 received Play at -1111000</font><br /><br />
<font color="blue">site1 received Play at -1111000</font><br /><br />
<font color="blue">site1 received Play at -1111000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271828035</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271828048</font><br /><br />
<font color="blue">site1 received Play at -1111000</font><br /><br />
<font color="blue">site1 received Play at -1111000</font><br /><br />
<font color="blue">site1 received Play at -1110000</font><br /><br />
<font color="blue">site1 received Play at -1110000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271830037</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271830057</font><br /><br />
<font color="blue">site1 received Play at -1110000</font><br /><br />
<font color="blue">site1 received Play at -1110000</font><br /><br />
<font color="blue">site1 received Play at -1110000</font><br /><br />
<font color="blue">site1 received Play at -1110000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271832032</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271832050</font><br /><br />
<font color="blue">site1 received Play at -1105000</font><br /><br />
<font color="blue">site1 received Play at -1105000</font><br /><br />
<font color="blue">site1 received Play at -1105000</font><br /><br />
<font color="blue">site1 received Play at -1105000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271834028</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271834039</font><br /><br />
<font color="blue">site1 received Play at -1105000</font><br /><br />
<font color="blue">site1 received Play at -1105000</font><br /><br />
<font color="blue">site1 received Play at -1105000</font><br /><br />
<font color="blue">site1 received Play at -1104000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271836031</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271836049</font><br /><br />
<font color="blue">site1 received Play at -1104000</font><br /><br />
<font color="blue">site1 received Play at -1104000</font><br /><br />
<font color="blue">site1 received Play at -1104000</font><br /><br />
<font color="blue">site1 received Play at -1104000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271838029</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271838044</font><br /><br />
<font color="blue">site1 received Play at -1104000</font><br /><br />
<font color="blue">site1 received Play at -1104000</font><br /><br />
<font color="blue">site1 received Play at -1104000</font><br /><br />
<font color="blue">site1 received Play at -1104000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271840028</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271840042</font><br /><br />
<font color="blue">site1 received Play at -1104000</font><br /><br />
<font color="blue">site1 received Play at -1104000</font><br /><br />
<font color="blue">site1 received Play at -1102000</font><br /><br />
<font color="blue">site1 received Play at -1102000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271842029</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271842040</font><br /><br />
<font color="blue">site1 received Play at -1102000</font><br /><br />
<font color="blue">site1 received Play at -1102000</font><br /><br />
<font color="blue">site1 received Play at -1102000</font><br /><br />
<font color="blue">site1 received Play at -1102000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271844039</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271844060</font><br /><br />
<font color="blue">site1 received Play at -1102000</font><br /><br />
<font color="blue">site1 received Play at -1102000</font><br /><br />
<font color="blue">site1 received Play at -1102000</font><br /><br />
<font color="blue">site1 received Play at -1102000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271846102</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271846137</font><br /><br />
<font color="blue">site1 received Play at -1102000</font><br /><br />
<font color="blue">site1 received Play at -1102000</font><br /><br />
<font color="blue">site1 received Play at -1100000</font><br /><br />
<font color="blue">site1 received Play at -1100000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271848071</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271848094</font><br /><br />
<font color="blue">site1 received Play at -1100000</font><br /><br />
<font color="blue">site1 received Play at -1100000</font><br /><br />
<font color="blue">site1 received Play at -1100000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271850034</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271850052</font><br /><br />
<font color="blue">site1 received Play at -1100000</font><br /><br />
<font color="blue">site1 received Play at -1100000</font><br /><br />
<font color="blue">site1 received Play at -1100000</font><br /><br />
<font color="blue">site1 received Play at -1100000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271852029</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271852038</font><br /><br />
<font color="blue">site1 received Play at -1099000</font><br /><br />
<font color="blue">site1 received Play at -1099000</font><br /><br />
<font color="blue">site1 received Play at -1099000</font><br /><br />
<font color="blue">site1 received Play at -1099000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271854031</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271854044</font><br /><br />
<font color="blue">site1 received Play at -1099000</font><br /><br />
<font color="blue">site1 received Play at -1099000</font><br /><br />
<font color="blue">site1 received Play at -1099000</font><br /><br />
<font color="blue">site1 received Play at -1099000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271856037</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271856054</font><br /><br />
<font color="blue">site1 received Play at -1099000</font><br /><br />
<font color="blue">site1 received Play at -1097000</font><br /><br />
<font color="blue">site1 received Play at -1097000</font><br /><br />
<font color="blue">site1 received Play at -1097000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271858036</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271858042</font><br /><br />
<font color="blue">site1 received Play at -1097000</font><br /><br />
<font color="blue">site1 received Play at -1097000</font><br /><br />
<font color="blue">site1 received Play at -1097000</font><br /><br />
<font color="blue">site1 received Play at -1097000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271860030</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271860050</font><br /><br />
<font color="blue">site1 received Play at -1097000</font><br /><br />
<font color="blue">site1 received Play at -1096000</font><br /><br />
<font color="blue">site1 received Play at -1095000</font><br /><br />
<font color="blue">site1 received Play at -1089000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271862030</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271862045</font><br /><br />
<font color="blue">site1 received Play at -1089000</font><br /><br />
<font color="blue">site1 received Play at -1089000</font><br /><br />
<font color="blue">site1 received Play at -1089000</font><br /><br />
<font color="blue">site1 received Play at -1089000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271864036</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271864061</font><br /><br />
<font color="blue">site1 received Play at -1089000</font><br /><br />
<font color="blue">site1 received Play at -1089000</font><br /><br />
<font color="blue">site1 received Play at -1089000</font><br /><br />
<font color="blue">site1 received Play at -1088000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271866032</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271866049</font><br /><br />
<font color="blue">site1 received Play at -1088000</font><br /><br />
<font color="blue">site1 received Play at -1088000</font><br /><br />
<font color="blue">site1 received Play at -1088000</font><br /><br />
<font color="blue">site1 received Play at -1088000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271868037</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271868054</font><br /><br />
<font color="blue">site1 received Play at -1088000</font><br /><br />
<font color="blue">site1 received Play at -1088000</font><br /><br />
<font color="blue">site1 received Play at -1088000</font><br /><br />
<font color="blue">site1 received Play at -1088000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271870029</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271870051</font><br /><br />
<font color="blue">site1 received Play at -1088000</font><br /><br />
<font color="blue">site1 received Play at -1088000</font><br /><br />
<font color="blue">site1 received Play at -1088000</font><br /><br />
<font color="blue">site1 received Play at -1088000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271872032</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271872046</font><br /><br />
<font color="blue">site1 received Play at -1088000</font><br /><br />
<font color="blue">site1 received Play at -1088000</font><br /><br />
<font color="blue">site1 received Play at -1087000</font><br /><br />
<font color="blue">site1 received Play at -1086000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271874035</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271874051</font><br /><br />
<font color="blue">site1 received Play at -1086000</font><br /><br />
<font color="blue">site1 received Play at -1085000</font><br /><br />
<font color="blue">site1 received Play at -1084000</font><br /><br />
<font color="blue">site1 received Play at -1084000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271876059</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271876073</font><br /><br />
<font color="blue">site1 received Play at -1084000</font><br /><br />
<font color="blue">site1 received Play at -1084000</font><br /><br />
<font color="blue">site1 received Play at -1084000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271878059</font><br /><br />
<font color="blue">site1 received Play at -1083000</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271878088</font><br /><br />
<font color="blue">site1 received Play at -1083000</font><br /><br />
<font color="blue">site1 received Play at -1083000</font><br /><br />
<font color="blue">site1 received Play at -1083000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271880035</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271880056</font><br /><br />
<font color="blue">site1 received Play at -1083000</font><br /><br />
<font color="blue">site1 received Play at -1083000</font><br /><br />
<font color="blue">site1 received Play at -1083000</font><br /><br />
<font color="blue">site1 received Play at -1083000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271882034</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271882045</font><br /><br />
<font color="blue">site1 received Play at -1083000</font><br /><br />
<font color="blue">site1 received Play at -1083000</font><br /><br />
<font color="blue">site1 received Play at -1083000</font><br /><br />
<font color="blue">site1 received Play at -1083000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271884032</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271884046</font><br /><br />
<font color="blue">site1 received Play at -1083000</font><br /><br />
<font color="blue">site1 received Play at -1083000</font><br /><br />
<font color="blue">site1 received Play at -1083000</font><br /><br />
<font color="blue">site1 received Play at -1083000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271886040</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271886056</font><br /><br />
<font color="blue">site1 received Play at -1082000</font><br /><br />
<font color="blue">site1 received Play at -1081000</font><br /><br />
<font color="blue">site1 received Play at -1081000</font><br /><br />
<font color="blue">site1 received Play at -1081000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271888033</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271888044</font><br /><br />
<font color="blue">site1 received Play at -1081000</font><br /><br />
<font color="blue">site1 received Play at -1081000</font><br /><br />
<font color="blue">site1 received Play at -1081000</font><br /><br />
<font color="blue">site1 received Play at -1081000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271890030</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271890044</font><br /><br />
<font color="blue">site1 received Play at -1081000</font><br /><br />
<font color="blue">site1 received Play at -1081000</font><br /><br />
<font color="blue">site1 received Play at -1079000</font><br /><br />
<font color="blue">site1 received Play at -1079000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271892028</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271892047</font><br /><br />
<font color="blue">site1 received Play at -1079000</font><br /><br />
<font color="blue">site1 received Play at -1079000</font><br /><br />
<font color="blue">site1 received Play at -1079000</font><br /><br />
<font color="blue">site1 received Play at -1079000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271894029</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271894036</font><br /><br />
<font color="blue">site1 received Play at -1079000</font><br /><br />
<font color="blue">site1 received Play at -1078000</font><br /><br />
<font color="blue">site1 received Play at -1075000</font><br /><br />
<font color="blue">site1 received Play at -1075000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271896027</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271896043</font><br /><br />
<font color="blue">site1 received Play at -1075000</font><br /><br />
<font color="blue">site1 received Play at -1075000</font><br /><br />
<font color="blue">site1 received Play at -1075000</font><br /><br />
<font color="blue">site1 received Play at -1072000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271898034</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271898054</font><br /><br />
<font color="blue">site1 received Play at -1072000</font><br /><br />
<font color="blue">site1 received Play at -1072000</font><br /><br />
<font color="blue">site1 received Play at -1072000</font><br /><br />
<font color="blue">site1 received Play at -1072000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271900045</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271900105</font><br /><br />
<font color="blue">site1 received Play at -1072000</font><br /><br />
<font color="blue">site1 received Play at -1072000</font><br /><br />
<font color="blue">site1 received Play at -1072000</font><br /><br />
<font color="blue">site1 received Play at -1072000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271902034</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271902052</font><br /><br />
<font color="blue">site1 received Play at -1072000</font><br /><br />
<font color="blue">site1 received Play at -1072000</font><br /><br />
<font color="blue">site1 received Play at -1072000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271904034</font><br /><br />
<font color="blue">site1 received Play at -1072000</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271904048</font><br /><br />
<font color="blue">site1 received Play at -1072000</font><br /><br />
<font color="blue">site1 received Play at -1072000</font><br /><br />
<font color="blue">site1 received Play at -1072000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271906034</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271906047</font><br /><br />
<font color="blue">site1 received Play at -1072000</font><br /><br />
<font color="blue">site1 received Play at -1072000</font><br /><br />
<font color="blue">site1 received Play at -1072000</font><br /><br />
<font color="blue">site1 received Play at -1070000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271908034</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271908049</font><br /><br />
<font color="blue">site1 received Play at -1070000</font><br /><br />
<font color="blue">site1 received Play at -1070000</font><br /><br />
<font color="blue">site1 received Play at -1070000</font><br /><br />
<font color="blue">site1 received Play at -1070000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271910033</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271910047</font><br /><br />
<font color="blue">site1 received Play at -1070000</font><br /><br />
<font color="blue">site1 received Play at -1070000</font><br /><br />
<font color="blue">site1 received Play at -1070000</font><br /><br />
<font color="blue">site1 received Play at -1070000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271912029</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271912053</font><br /><br />
<font color="blue">site1 received Play at -1070000</font><br /><br />
<font color="blue">site1 received Play at -1070000</font><br /><br />
<font color="blue">site1 received Play at -1070000</font><br /><br />
<font color="blue">site1 received Play at -1070000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271914035</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271914055</font><br /><br />
<font color="blue">site1 received Play at -1070000</font><br /><br />
<font color="blue">site1 received Play at -1068000</font><br /><br />
<font color="blue">site1 received Play at -1068000</font><br /><br />
<font color="blue">site1 received Play at -1068000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271916032</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271916044</font><br /><br />
<font color="blue">site1 received Play at -1068000</font><br /><br />
<font color="blue">site1 received Play at -1068000</font><br /><br />
<font color="blue">site1 received Play at -1068000</font><br /><br />
<font color="blue">site1 received Play at -1067000</font><br /><br />
<font color="green">site1 detected CounterEvent at 1508271918041</font><br /><br />
<font color="green">site1 detected SteppedCounterEvent at 1508271918055</font><br /><br />
<font color="blue">site1 received Play at -1067000</font><br /><br />
