<font color="green">cent1 detected CounterEvent at 1508271784096</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271784203</font><br /><br />
<font color="blue">cent1 received Play at -1137000</font><br /><br />
<font color="blue">cent1 received Play at -1136000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271786114</font><br /><br />
<font color="blue">cent1 received Play at -1136000</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271786714</font><br /><br />
<font color="blue">cent1 received Play at -1136000</font><br /><br />
<font color="blue">cent1 received Play at -1136000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271788101</font><br /><br />
<font color="blue">cent1 received Play at -1136000</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271788271</font><br /><br />
<font color="blue">cent1 received Play at -1136000</font><br /><br />
<font color="blue">cent1 received Play at -1136000</font><br /><br />
<font color="blue">cent1 received Play at -1136000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271790096</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271790127</font><br /><br />
<font color="blue">cent1 received Play at -1136000</font><br /><br />
<font color="blue">cent1 received Play at -1136000</font><br /><br />
<font color="blue">cent1 received Play at -1136000</font><br /><br />
<font color="blue">cent1 received Play at -1136000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271792085</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271792096</font><br /><br />
<font color="blue">cent1 received Play at -1136000</font><br /><br />
<font color="blue">cent1 received Play at -1136000</font><br /><br />
<font color="blue">cent1 received Play at -1136000</font><br /><br />
<font color="blue">cent1 received Play at -1134000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271794092</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271794103</font><br /><br />
<font color="blue">cent1 received Play at -1134000</font><br /><br />
<font color="blue">cent1 received Play at -1134000</font><br /><br />
<font color="blue">cent1 received Play at -1134000</font><br /><br />
<font color="blue">cent1 received Play at -1134000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271796099</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271796134</font><br /><br />
<font color="blue">cent1 received Play at -1134000</font><br /><br />
<font color="blue">cent1 received Play at -1134000</font><br /><br />
<font color="blue">cent1 received Play at -1132000</font><br /><br />
<font color="blue">cent1 received Play at -1131000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271798085</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271798098</font><br /><br />
<font color="blue">cent1 received Play at -1131000</font><br /><br />
<font color="blue">cent1 received Play at -1131000</font><br /><br />
<font color="blue">cent1 received Play at -1131000</font><br /><br />
<font color="blue">cent1 received Play at -1131000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271800085</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271800105</font><br /><br />
<font color="blue">cent1 received Play at -1129000</font><br /><br />
<font color="blue">cent1 received Play at -1129000</font><br /><br />
<font color="blue">cent1 received Play at -1129000</font><br /><br />
<font color="blue">cent1 received Play at -1129000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271802095</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271802110</font><br /><br />
<font color="blue">cent1 received Play at -1129000</font><br /><br />
<font color="blue">cent1 received Play at -1129000</font><br /><br />
<font color="blue">cent1 received Play at -1129000</font><br /><br />
<font color="blue">cent1 received Play at -1129000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271804098</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271804109</font><br /><br />
<font color="blue">cent1 received Play at -1129000</font><br /><br />
<font color="blue">cent1 received Play at -1129000</font><br /><br />
<font color="blue">cent1 received Play at -1129000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271806146</font><br /><br />
<font color="blue">cent1 received Play at -1129000</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271806175</font><br /><br />
<font color="blue">cent1 received Play at -1129000</font><br /><br />
<font color="blue">cent1 received Play at -1129000</font><br /><br />
<font color="blue">cent1 received Play at -1127000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271808103</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271808176</font><br /><br />
<font color="blue">cent1 received Play at -1127000</font><br /><br />
<font color="blue">cent1 received Play at -1127000</font><br /><br />
<font color="blue">cent1 received Play at -1127000</font><br /><br />
<font color="blue">cent1 received Play at -1127000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271810088</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271810139</font><br /><br />
<font color="blue">cent1 received Play at -1127000</font><br /><br />
<font color="blue">cent1 received Play at -1127000</font><br /><br />
<font color="blue">cent1 received Play at -1127000</font><br /><br />
<font color="blue">cent1 received Play at -1127000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271812092</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271812119</font><br /><br />
<font color="blue">cent1 received Play at -1127000</font><br /><br />
<font color="blue">cent1 received Play at -1127000</font><br /><br />
<font color="blue">cent1 received Play at -1127000</font><br /><br />
<font color="blue">cent1 received Play at -1123000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271814098</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271814129</font><br /><br />
<font color="blue">cent1 received Play at -1123000</font><br /><br />
<font color="blue">cent1 received Play at -1123000</font><br /><br />
<font color="blue">cent1 received Play at -1123000</font><br /><br />
<font color="blue">cent1 received Play at -1122000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271816371</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271816391</font><br /><br />
<font color="blue">cent1 received Play at -1122000</font><br /><br />
<font color="blue">cent1 received Play at -1122000</font><br /><br />
<font color="blue">cent1 received Play at -1122000</font><br /><br />
<font color="blue">cent1 received Play at -1122000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271818421</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271818448</font><br /><br />
<font color="blue">cent1 received Play at -1122000</font><br /><br />
<font color="blue">cent1 received Play at -1122000</font><br /><br />
<font color="blue">cent1 received Play at -1122000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271820435</font><br /><br />
<font color="blue">cent1 received Play at -1121000</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271820486</font><br /><br />
<font color="blue">cent1 received Play at -1121000</font><br /><br />
<font color="blue">cent1 received Play at -1121000</font><br /><br />
<font color="blue">cent1 received Play at -1120000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271822224</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271822257</font><br /><br />
<font color="blue">cent1 received Play at -1120000</font><br /><br />
<font color="blue">cent1 received Play at -1120000</font><br /><br />
<font color="blue">cent1 received Play at -1118000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271824094</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271824136</font><br /><br />
<font color="blue">cent1 received Play at -1116000</font><br /><br />
<font color="blue">cent1 received Play at -1116000</font><br /><br />
<font color="blue">cent1 received Play at -1115000</font><br /><br />
<font color="blue">cent1 received Play at -1114000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271826111</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271826138</font><br /><br />
<font color="blue">cent1 received Play at -1114000</font><br /><br />
<font color="blue">cent1 received Play at -1113000</font><br /><br />
<font color="blue">cent1 received Play at -1113000</font><br /><br />
<font color="blue">cent1 received Play at -1113000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271828089</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271828158</font><br /><br />
<font color="blue">cent1 received Play at -1113000</font><br /><br />
<font color="blue">cent1 received Play at -1113000</font><br /><br />
<font color="blue">cent1 received Play at -1113000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271830103</font><br /><br />
<font color="blue">cent1 received Play at -1113000</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271830139</font><br /><br />
<font color="blue">cent1 received Play at -1113000</font><br /><br />
<font color="blue">cent1 received Play at -1113000</font><br /><br />
<font color="blue">cent1 received Play at -1113000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271832111</font><br /><br />
<font color="blue">cent1 received Play at -1113000</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271832171</font><br /><br />
<font color="blue">cent1 received Play at -1113000</font><br /><br />
<font color="blue">cent1 received Play at -1113000</font><br /><br />
<font color="blue">cent1 received Play at -1111000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271834097</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271834120</font><br /><br />
<font color="blue">cent1 received Play at -1111000</font><br /><br />
<font color="blue">cent1 received Play at -1111000</font><br /><br />
<font color="blue">cent1 received Play at -1111000</font><br /><br />
<font color="blue">cent1 received Play at -1111000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271836097</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271836133</font><br /><br />
<font color="blue">cent1 received Play at -1111000</font><br /><br />
<font color="blue">cent1 received Play at -1111000</font><br /><br />
<font color="blue">cent1 received Play at -1111000</font><br /><br />
<font color="blue">cent1 received Play at -1111000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271838117</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271838136</font><br /><br />
<font color="blue">cent1 received Play at -1111000</font><br /><br />
<font color="blue">cent1 received Play at -1111000</font><br /><br />
<font color="blue">cent1 received Play at -1111000</font><br /><br />
<font color="blue">cent1 received Play at -1111000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271840153</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271840191</font><br /><br />
<font color="blue">cent1 received Play at -1110000</font><br /><br />
<font color="blue">cent1 received Play at -1110000</font><br /><br />
<font color="blue">cent1 received Play at -1110000</font><br /><br />
<font color="blue">cent1 received Play at -1110000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271842083</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271842104</font><br /><br />
<font color="blue">cent1 received Play at -1110000</font><br /><br />
<font color="blue">cent1 received Play at -1110000</font><br /><br />
<font color="blue">cent1 received Play at -1105000</font><br /><br />
<font color="blue">cent1 received Play at -1105000</font><br /><br />
<font color="blue">cent1 received Play at -1105000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271844354</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271844379</font><br /><br />
<font color="blue">cent1 received Play at -1105000</font><br /><br />
<font color="blue">cent1 received Play at -1105000</font><br /><br />
<font color="blue">cent1 received Play at -1105000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271846126</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271846141</font><br /><br />
<font color="blue">cent1 received Play at -1105000</font><br /><br />
<font color="blue">cent1 received Play at -1105000</font><br /><br />
<font color="blue">cent1 received Play at -1105000</font><br /><br />
<font color="blue">cent1 received Play at -1104000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271848184</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271848227</font><br /><br />
<font color="blue">cent1 received Play at -1104000</font><br /><br />
<font color="blue">cent1 received Play at -1104000</font><br /><br />
<font color="blue">cent1 received Play at -1104000</font><br /><br />
<font color="blue">cent1 received Play at -1104000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271850086</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271850117</font><br /><br />
<font color="blue">cent1 received Play at -1104000</font><br /><br />
<font color="blue">cent1 received Play at -1104000</font><br /><br />
<font color="blue">cent1 received Play at -1104000</font><br /><br />
<font color="blue">cent1 received Play at -1104000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271852083</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271852091</font><br /><br />
<font color="blue">cent1 received Play at -1104000</font><br /><br />
<font color="blue">cent1 received Play at -1104000</font><br /><br />
<font color="blue">cent1 received Play at -1102000</font><br /><br />
<font color="blue">cent1 received Play at -1102000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271854117</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271854176</font><br /><br />
<font color="blue">cent1 received Play at -1102000</font><br /><br />
<font color="blue">cent1 received Play at -1102000</font><br /><br />
<font color="blue">cent1 received Play at -1102000</font><br /><br />
<font color="blue">cent1 received Play at -1102000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271856157</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271856174</font><br /><br />
<font color="blue">cent1 received Play at -1102000</font><br /><br />
<font color="blue">cent1 received Play at -1102000</font><br /><br />
<font color="blue">cent1 received Play at -1102000</font><br /><br />
<font color="blue">cent1 received Play at -1101000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271858111</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271858167</font><br /><br />
<font color="blue">cent1 received Play at -1100000</font><br /><br />
<font color="blue">cent1 received Play at -1100000</font><br /><br />
<font color="blue">cent1 received Play at -1100000</font><br /><br />
<font color="blue">cent1 received Play at -1100000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271860104</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271860153</font><br /><br />
<font color="blue">cent1 received Play at -1100000</font><br /><br />
<font color="blue">cent1 received Play at -1100000</font><br /><br />
<font color="blue">cent1 received Play at -1100000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271862086</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271862098</font><br /><br />
<font color="blue">cent1 received Play at -1100000</font><br /><br />
<font color="blue">cent1 received Play at -1100000</font><br /><br />
<font color="blue">cent1 received Play at -1099000</font><br /><br />
<font color="blue">cent1 received Play at -1099000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271864088</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271864140</font><br /><br />
<font color="blue">cent1 received Play at -1099000</font><br /><br />
<font color="blue">cent1 received Play at -1099000</font><br /><br />
<font color="blue">cent1 received Play at -1099000</font><br /><br />
<font color="blue">cent1 received Play at -1099000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271866102</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271866197</font><br /><br />
<font color="blue">cent1 received Play at -1099000</font><br /><br />
<font color="blue">cent1 received Play at -1097000</font><br /><br />
<font color="blue">cent1 received Play at -1097000</font><br /><br />
<font color="blue">cent1 received Play at -1097000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271868090</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271868121</font><br /><br />
<font color="blue">cent1 received Play at -1097000</font><br /><br />
<font color="blue">cent1 received Play at -1097000</font><br /><br />
<font color="blue">cent1 received Play at -1097000</font><br /><br />
<font color="blue">cent1 received Play at -1097000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271870091</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271870124</font><br /><br />
<font color="blue">cent1 received Play at -1097000</font><br /><br />
<font color="blue">cent1 received Play at -1097000</font><br /><br />
<font color="blue">cent1 received Play at -1097000</font><br /><br />
<font color="blue">cent1 received Play at -1097000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271872093</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271872137</font><br /><br />
<font color="blue">cent1 received Play at -1097000</font><br /><br />
<font color="blue">cent1 received Play at -1097000</font><br /><br />
<font color="blue">cent1 received Play at -1097000</font><br /><br />
<font color="blue">cent1 received Play at -1097000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271874084</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271874131</font><br /><br />
<font color="blue">cent1 received Play at -1096000</font><br /><br />
<font color="blue">cent1 received Play at -1096000</font><br /><br />
<font color="blue">cent1 received Play at -1096000</font><br /><br />
<font color="blue">cent1 received Play at -1094000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271876114</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271876160</font><br /><br />
<font color="blue">cent1 received Play at -1089000</font><br /><br />
<font color="blue">cent1 received Play at -1089000</font><br /><br />
<font color="blue">cent1 received Play at -1089000</font><br /><br />
<font color="blue">cent1 received Play at -1089000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271878224</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271878286</font><br /><br />
<font color="blue">cent1 received Play at -1089000</font><br /><br />
<font color="blue">cent1 received Play at -1089000</font><br /><br />
<font color="blue">cent1 received Play at -1089000</font><br /><br />
<font color="blue">cent1 received Play at -1088000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271880285</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271880298</font><br /><br />
<font color="blue">cent1 received Play at -1088000</font><br /><br />
<font color="blue">cent1 received Play at -1088000</font><br /><br />
<font color="blue">cent1 received Play at -1088000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271882091</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271882134</font><br /><br />
<font color="blue">cent1 received Play at -1088000</font><br /><br />
<font color="blue">cent1 received Play at -1088000</font><br /><br />
<font color="blue">cent1 received Play at -1088000</font><br /><br />
<font color="blue">cent1 received Play at -1088000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271884093</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271884107</font><br /><br />
<font color="blue">cent1 received Play at -1088000</font><br /><br />
<font color="blue">cent1 received Play at -1088000</font><br /><br />
<font color="blue">cent1 received Play at -1088000</font><br /><br />
<font color="blue">cent1 received Play at -1087000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271886106</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271886134</font><br /><br />
<font color="blue">cent1 received Play at -1086000</font><br /><br />
<font color="blue">cent1 received Play at -1086000</font><br /><br />
<font color="blue">cent1 received Play at -1086000</font><br /><br />
<font color="blue">cent1 received Play at -1085000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271888134</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271888217</font><br /><br />
<font color="blue">cent1 received Play at -1084000</font><br /><br />
<font color="blue">cent1 received Play at -1084000</font><br /><br />
<font color="blue">cent1 received Play at -1084000</font><br /><br />
<font color="blue">cent1 received Play at -1084000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271890095</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271890121</font><br /><br />
<font color="blue">cent1 received Play at -1084000</font><br /><br />
<font color="blue">cent1 received Play at -1084000</font><br /><br />
<font color="blue">cent1 received Play at -1084000</font><br /><br />
<font color="blue">cent1 received Play at -1084000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271892083</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271892140</font><br /><br />
<font color="blue">cent1 received Play at -1084000</font><br /><br />
<font color="blue">cent1 received Play at -1083000</font><br /><br />
<font color="blue">cent1 received Play at -1083000</font><br /><br />
<font color="blue">cent1 received Play at -1083000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271894084</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271894101</font><br /><br />
<font color="blue">cent1 received Play at -1083000</font><br /><br />
<font color="blue">cent1 received Play at -1083000</font><br /><br />
<font color="blue">cent1 received Play at -1083000</font><br /><br />
<font color="blue">cent1 received Play at -1083000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271896090</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271896120</font><br /><br />
<font color="blue">cent1 received Play at -1083000</font><br /><br />
<font color="blue">cent1 received Play at -1083000</font><br /><br />
<font color="blue">cent1 received Play at -1083000</font><br /><br />
<font color="blue">cent1 received Play at -1083000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271898090</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271898106</font><br /><br />
<font color="blue">cent1 received Play at -1081000</font><br /><br />
<font color="blue">cent1 received Play at -1081000</font><br /><br />
<font color="blue">cent1 received Play at -1081000</font><br /><br />
<font color="blue">cent1 received Play at -1081000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271900100</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271900118</font><br /><br />
<font color="blue">cent1 received Play at -1081000</font><br /><br />
<font color="blue">cent1 received Play at -1079000</font><br /><br />
<font color="blue">cent1 received Play at -1079000</font><br /><br />
<font color="blue">cent1 received Play at -1079000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271902097</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271902138</font><br /><br />
<font color="blue">cent1 received Play at -1079000</font><br /><br />
<font color="blue">cent1 received Play at -1079000</font><br /><br />
<font color="blue">cent1 received Play at -1079000</font><br /><br />
<font color="blue">cent1 received Play at -1079000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271904104</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271904128</font><br /><br />
<font color="blue">cent1 received Play at -1079000</font><br /><br />
<font color="blue">cent1 received Play at -1078000</font><br /><br />
<font color="blue">cent1 received Play at -1075000</font><br /><br />
<font color="blue">cent1 received Play at -1072000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271906102</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271906143</font><br /><br />
<font color="blue">cent1 received Play at -1072000</font><br /><br />
<font color="blue">cent1 received Play at -1072000</font><br /><br />
<font color="blue">cent1 received Play at -1072000</font><br /><br />
<font color="blue">cent1 received Play at -1072000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271908090</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271908122</font><br /><br />
<font color="blue">cent1 received Play at -1072000</font><br /><br />
<font color="blue">cent1 received Play at -1072000</font><br /><br />
<font color="blue">cent1 received Play at -1072000</font><br /><br />
<font color="blue">cent1 received Play at -1072000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271910105</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271910141</font><br /><br />
<font color="blue">cent1 received Play at -1072000</font><br /><br />
<font color="blue">cent1 received Play at -1072000</font><br /><br />
<font color="blue">cent1 received Play at -1072000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271912086</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271912103</font><br /><br />
<font color="blue">cent1 received Play at -1072000</font><br /><br />
<font color="blue">cent1 received Play at -1072000</font><br /><br />
<font color="blue">cent1 received Play at -1070000</font><br /><br />
<font color="blue">cent1 received Play at -1070000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271914101</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271914152</font><br /><br />
<font color="blue">cent1 received Play at -1070000</font><br /><br />
<font color="blue">cent1 received Play at -1070000</font><br /><br />
<font color="blue">cent1 received Play at -1070000</font><br /><br />
<font color="blue">cent1 received Play at -1070000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271916087</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271916114</font><br /><br />
<font color="blue">cent1 received Play at -1070000</font><br /><br />
<font color="blue">cent1 received Play at -1070000</font><br /><br />
<font color="blue">cent1 received Play at -1070000</font><br /><br />
<font color="blue">cent1 received Play at -1068000</font><br /><br />
<font color="green">cent1 detected CounterEvent at 1508271918091</font><br /><br />
<font color="green">cent1 detected SteppedCounterEvent at 1508271918104</font><br /><br />
<font color="blue">cent1 received Play at -1068000</font><br /><br />
