<font color="blue">site1 received CallPOPDWH at 1420063566000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063566000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063566000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063566000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063568000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063568000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063569000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063569000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063578000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063578000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063587000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063587000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063591000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063591000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063591000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063591000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063591000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063591000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063595000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063595000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063595000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063595000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063598000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063598000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938497000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938497000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063605000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063605000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063607000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063607000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063617000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063617000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063618000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063618000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063619000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063619000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063648000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063648000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063657000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063657000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063661000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063661000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063662000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063662000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063664000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063664000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063670000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063670000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063674000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063674000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063684000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063684000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063697000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063697000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063704000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063704000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063714000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063714000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063717000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063717000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063721000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063721000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063736000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063736000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063746000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063746000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063750000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063750000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063750000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063750000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938498000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938498000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063765000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063765000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063768000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063768000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063769000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063769000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063776000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063776000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063777000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063777000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063778000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063778000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063782000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063782000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063786000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063786000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063796000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063796000</font><br /><br />
<font color="black">site1 set event: halfFrequentLongCalls in pushMode for sites:  cent1<br /></font><br /><br />
<font color="black">site1 set event: halfExpensiveCalls in pushMode for sites:  cent1<br /></font><br /><br />
<font color="black">site1 set event: halfFrequentEachLongCall in pushMode for sites:  cent1<br /></font><br /><br />
<font color="black">site1 set event: LongCallAtNight in pushMode for sites:  cent1<br /></font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063826000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063826000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063827000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063827000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063834000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063834000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063834000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063834000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063841000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063841000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938499000</font><br /><br />
<font color="green">site1 detected halfExpensiveCalls at 1479051116197</font><br /><br />
<font color="green">site1 detected halfFrequentLongCalls at 1479051116197</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938499000</font><br /><br />
<font color="green">site1 detected halfExpensiveCalls at 1479051116201</font><br /><br />
<font color="green">site1 detected halfFrequentLongCalls at 1479051116215</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063855000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063855000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063857000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063857000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063872000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063872000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063875000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063875000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063875000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063875000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063880000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063880000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063893000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063893000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063904000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063904000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063907000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063907000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063908000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063908000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063917000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063917000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063920000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063920000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063921000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063921000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063932000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063932000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063960000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063960000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063968000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063968000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063977000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063977000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063979000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063979000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063987000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420063987000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064001000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064001000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064014000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064014000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064018000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064018000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064024000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064024000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064031000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064031000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064035000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064035000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064035000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064035000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064037000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064037000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064041000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064041000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938500000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938500000</font><br /><br />
<font color="green">site1 detected LongCallAtNight at 1479051131033</font><br /><br />
<font color="green">site1 detected halfFrequentLongCalls at 1479051131034</font><br /><br />
<font color="green">site1 detected halfFrequentEachLongCall at 1479051131034</font><br /><br />
<font color="green">site1 detected halfExpensiveCalls at 1479051131034</font><br /><br />
<font color="green">site1 detected LongCallAtNight at 1479051131037</font><br /><br />
<font color="green">site1 detected halfFrequentEachLongCall at 1479051131033</font><br /><br />
<font color="green">site1 detected halfFrequentLongCalls at 1479051131034</font><br /><br />
<font color="green">site1 detected halfExpensiveCalls at 1479051131034</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064042000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064042000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064069000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064069000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064072000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064072000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064094000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064094000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064124000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064124000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064144000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064144000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064160000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064160000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064161000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064161000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064165000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064165000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064168000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064168000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064174000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064174000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064180000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064180000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064181000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064181000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064187000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064187000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064188000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064188000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064193000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064193000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064195000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064195000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064206000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064206000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064221000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064221000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064229000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064229000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064231000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064231000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064253000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064253000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064262000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064262000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064270000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064270000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064321000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064321000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064326000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064326000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064337000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064337000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064349000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064349000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064352000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064352000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064356000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064356000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064359000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064359000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064371000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064371000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064379000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064379000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064392000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064392000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064392000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064392000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064395000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064395000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064395000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064395000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064412000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064412000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064414000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064414000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064425000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064425000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064436000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064436000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064485000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064485000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064495000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064495000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064497000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064497000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938501000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938501000</font><br /><br />
<font color="green">site1 detected halfExpensiveCalls at 1479051153727</font><br /><br />
<font color="green">site1 detected halfFrequentLongCalls at 1479051153727</font><br /><br />
<font color="green">site1 detected halfExpensiveCalls at 1479051153729</font><br /><br />
<font color="green">site1 detected halfFrequentLongCalls at 1479051153730</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064501000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064501000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064504000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064504000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064541000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064541000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064542000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064542000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064555000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064555000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064561000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064561000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064565000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064565000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064567000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064567000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064579000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064579000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064582000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064582000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064592000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064592000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064600000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064600000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064602000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064602000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064603000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064603000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064606000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064606000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064611000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064611000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064613000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064613000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064626000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064626000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064642000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064642000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064656000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064656000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064672000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064672000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064674000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064674000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064680000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064680000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064682000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064682000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064686000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064686000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064691000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064691000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064711000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064711000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064731000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064731000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064746000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064746000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064779000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064779000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064785000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064785000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064791000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064791000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064805000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064805000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064817000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064817000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064829000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064829000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064835000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064835000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064836000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064836000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064843000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064843000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064845000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064845000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064845000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064845000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064850000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064850000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064853000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064853000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938502000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938502000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064860000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064860000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064860000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064860000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064874000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064874000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064881000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064881000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064883000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064883000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064887000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064887000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064890000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064890000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064897000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064897000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064898000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064898000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064900000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064900000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064900000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064900000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064904000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064904000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064910000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064910000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064910000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064910000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064917000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064917000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064929000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064929000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064942000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064942000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938505000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938505000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064947000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064947000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064949000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064949000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064950000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064950000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064957000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064957000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064961000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064961000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064982000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064982000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064984000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064984000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064986000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064986000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064990000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420064990000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065003000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065003000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065008000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065008000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065020000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065020000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065022000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065022000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065022000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065022000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065028000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065036000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065040000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065061000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065065000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065082000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065092000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065093000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065099000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065106000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065112000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065123000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065135000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065154000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065162000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065170000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065172000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065186000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065196000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065205000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065210000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065222000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065242000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065246000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065262000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065282000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065286000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065300000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065308000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065319000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065321000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065336000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065351000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065364000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938506000</font><br /><br />
<font color="green">site1 detected halfFrequentLongCalls at 1479051209336</font><br /><br />
<font color="green">site1 detected halfExpensiveCalls at 1479051209336</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065378000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065380000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065383000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065385000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065392000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065402000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065409000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065420000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065422000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065425000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065438000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065439000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065445000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065447000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065449000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065473000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065504000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065508000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065509000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065559000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065590000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065592000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065599000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065616000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065653000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065653000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065659000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065663000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065701000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065702000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065718000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065721000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065723000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065730000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065748000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065760000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938508000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065768000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065772000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065774000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065779000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065783000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065786000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065798000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065813000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065863000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065866000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065883000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065896000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065901000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065908000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065908000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065925000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065926000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065946000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065954000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065977000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420065993000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066008000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066014000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066018000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066033000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066042000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066062000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066068000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066074000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066093000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066118000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066129000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066132000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066133000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066152000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066177000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066180000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066193000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066193000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066203000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066204000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066205000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066205000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066222000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066259000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066261000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066265000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066265000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066300000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066315000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066332000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938509000</font><br /><br />
<font color="green">site1 detected halfExpensiveCalls at 1479051254149</font><br /><br />
<font color="green">site1 detected halfFrequentLongCalls at 1479051254150</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066345000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066345000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066379000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066387000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066394000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066394000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066405000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066406000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066411000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066428000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066429000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066432000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066433000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066439000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066439000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066439000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066443000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066466000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066467000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066467000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066470000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066476000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066498000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066502000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066531000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066565000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066610000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066625000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066628000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066630000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066645000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066648000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066668000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066689000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066690000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066693000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066698000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066708000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066716000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066718000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066731000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066734000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066747000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066759000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066762000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066782000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066785000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066800000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066820000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066823000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066826000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066832000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066845000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066847000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066869000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066875000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066894000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066898000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066900000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066905000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066906000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066920000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066951000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066953000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066972000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066984000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066987000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420066992000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067014000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067052000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067060000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067067000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067073000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067074000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067084000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938511000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067100000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067104000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067116000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067140000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067176000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067188000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067197000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067200000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067210000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067216000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067221000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067231000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067245000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067264000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067267000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067269000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067269000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067273000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067273000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067289000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067292000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067305000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067323000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067331000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067333000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067344000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067347000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067360000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067363000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067363000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067365000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067369000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067392000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067416000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067419000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067422000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067429000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067443000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067444000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067463000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067470000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067479000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067500000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067527000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067538000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067546000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067552000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938512000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067554000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067554000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067557000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067558000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067560000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067566000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067590000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067591000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067612000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067624000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067629000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067635000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067645000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067660000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067666000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067692000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067695000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067698000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067714000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067715000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067720000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067732000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067736000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067743000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067755000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067758000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067761000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067762000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067768000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067774000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067781000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067789000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067794000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067803000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067804000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067819000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067831000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067835000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067849000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067850000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067851000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067875000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067886000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067889000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067897000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067918000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067919000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067930000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067946000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420067963000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068031000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938513000</font><br /><br />
<font color="green">site1 detected LongCallAtNight at 1479051342688</font><br /><br />
<font color="green">site1 detected halfFrequentEachLongCall at 1479051342688</font><br /><br />
<font color="green">site1 detected halfExpensiveCalls at 1479051342688</font><br /><br />
<font color="green">site1 detected halfFrequentLongCalls at 1479051342689</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068042000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068043000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068051000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068072000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068072000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068091000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068092000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068094000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068109000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068123000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068123000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068136000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068160000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068188000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068197000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068210000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068214000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068233000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068262000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068276000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068277000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068279000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068285000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068315000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068316000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068397000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068440000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068461000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068469000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068475000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068493000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068514000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068524000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068529000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068531000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068534000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068540000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068544000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068589000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068629000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068640000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068644000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068661000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068680000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068722000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068754000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068766000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068777000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068807000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068834000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068835000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068848000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068897000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068936000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068950000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068958000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068965000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420068994000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069004000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069078000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069092000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069147000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069173000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069187000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069192000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069198000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069243000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938514000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069244000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069302000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069306000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069315000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069327000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069334000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069369000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069392000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069396000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069424000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069424000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069439000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069453000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069505000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069538000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069540000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069572000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069614000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069618000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069622000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069623000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069635000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069638000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069688000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069694000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069725000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069725000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069725000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069738000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069738000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069771000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069781000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069789000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069804000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069819000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069843000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069859000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069884000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069885000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069921000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069950000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069957000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069959000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069975000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069985000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420069999000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070079000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070082000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070084000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070137000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070153000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070158000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070178000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070194000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070223000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070225000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070248000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070270000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070304000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070325000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070365000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070393000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1456938515000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070406000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070465000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070473000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070507000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070507000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070537000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070541000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070578000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070588000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070591000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070603000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070608000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070648000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070666000</font><br /><br />
<font color="blue">site1 received CallPOPDWH at 1420070688000</font><br /><br />
