<font color="blue">cent1 received CallPOPDWH at 1420063517000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063517000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063528000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063528000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063531000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063531000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063559000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063559000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063563000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063563000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063564000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063564000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063565000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063565000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063593000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063593000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063608000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063608000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063614000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063614000</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051095840</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051095840</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051095840</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051095840</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051095841</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051095841</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051095841</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051095841</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063618000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063618000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063639000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063639000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1456938494000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1456938494000</font><br /><br />
<font color="green">cent1 detected LongCallAtNight at 1479051096940</font><br /><br />
<font color="green">cent1 detected halfFrequentEachLongCall at 1479051096940</font><br /><br />
<font color="green">cent1 detected halfExpensiveCalls at 1479051096941</font><br /><br />
<font color="green">cent1 detected halfFrequentLongCalls at 1479051096941</font><br /><br />
<font color="green">cent1 detected FrequentLongCallsAtNight at 1479051096944</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063649000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063649000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063656000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063656000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063657000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063657000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063661000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063661000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063662000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063662000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063665000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063665000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063678000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063678000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063681000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063681000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063689000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063689000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063695000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063695000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063703000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063703000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1456938495000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1456938495000</font><br /><br />
<font color="green">cent1 detected halfExpensiveCalls at 1479051102986</font><br /><br />
<font color="green">cent1 detected halfFrequentLongCalls at 1479051102987</font><br /><br />
<font color="green">cent1 detected LongCallAtNight at 1479051102987</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063718000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063718000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063726000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063726000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063763000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063763000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063765000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063765000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063774000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063774000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063779000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063779000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063782000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063782000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063797000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063797000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063819000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063819000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063836000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063836000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063858000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063858000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063858000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063858000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063860000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063860000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063868000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063868000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063874000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063874000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063884000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063884000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063901000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063901000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063905000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063905000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063920000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063920000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063922000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063922000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063928000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063928000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063939000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063939000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063943000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063943000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063944000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063944000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063947000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063947000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063949000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063949000</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051116197</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051116197</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051116197</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051116197</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063955000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063955000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063956000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063956000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063957000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063957000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063962000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063962000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063966000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063966000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063980000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420063980000</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051116215</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051116215</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051116201</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051116201</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064020000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064020000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064034000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064034000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064044000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064044000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064050000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064050000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064072000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064072000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064097000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064097000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064097000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064097000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1456938507000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1456938507000</font><br /><br />
<font color="green">cent1 detected halfFrequentLongCalls at 1479051123132</font><br /><br />
<font color="green">cent1 detected LongCallAtNight at 1479051123132</font><br /><br />
<font color="green">cent1 detected LongCallAtNight at 1479051123132</font><br /><br />
<font color="green">cent1 detected halfExpensiveCalls at 1479051123132</font><br /><br />
<font color="green">cent1 detected halfFrequentEachLongCall at 1479051123132</font><br /><br />
<font color="green">cent1 detected halfFrequentLongCalls at 1479051123135</font><br /><br />
<font color="green">cent1 detected halfExpensiveCalls at 1479051123131</font><br /><br />
<font color="green">cent1 detected halfFrequentEachLongCall at 1479051123134</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064098000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064098000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064104000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064104000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064105000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064105000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064112000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064112000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064119000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064119000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064120000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064120000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064147000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064147000</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051127054</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051127054</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051127054</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051127054</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051127054</font><br /><br />
<font color="green">cent1 detected FrequentLongCalls at 1479051127071</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051127054</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051127055</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051127055</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051127055</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051127054</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051127055</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051127055</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051127054</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051127055</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051127055</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051127055</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064157000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064157000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064185000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064185000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064190000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064190000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064198000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064198000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064199000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064199000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064201000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064201000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064204000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064204000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064211000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064211000</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051131033</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051131033</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051131034</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051131034</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051131034</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051131034</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051131034</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051131034</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051131033</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051131034</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051131034</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051131033</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051131034</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051131034</font><br /><br />
<font color="green">cent1 detected FrequentEachLongCall at 1479051131100</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051131037</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051131037</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064215000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064215000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064219000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064219000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064220000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064220000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064222000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064222000</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051133164</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051133164</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051133167</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051133164</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051133167</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051133165</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051133167</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051133164</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051133167</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051133165</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051133168</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051133165</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064234000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064234000</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051133169</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051133168</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051133165</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051133169</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064235000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064235000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064263000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064263000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064277000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064277000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064277000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064277000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064295000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064295000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064307000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064307000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064314000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064314000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1456938510000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1456938510000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064317000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064317000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064325000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064325000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064333000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064333000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064345000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064345000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064349000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064349000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064356000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064356000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064361000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064361000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064366000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064366000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064369000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064369000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064372000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064372000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064381000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064381000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064384000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064384000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064390000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064390000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064409000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064409000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064414000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064414000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064415000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064415000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064427000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064427000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064432000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064432000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064433000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064433000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064442000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064442000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064455000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064455000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064455000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064455000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064470000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064470000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064487000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064487000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064492000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064492000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064503000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064503000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064506000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064506000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064552000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064552000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064554000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064554000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064564000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064564000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064572000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064572000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064580000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064580000</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051153727</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051153727</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051153729</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051153729</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051153727</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051153727</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051153730</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051153730</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064583000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064583000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064585000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064585000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064607000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064607000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064611000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064611000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064627000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064627000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064649000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064649000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064657000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064657000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064658000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064658000</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051157765</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051157765</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051157765</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051157765</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051157766</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051157766</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051157766</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051157766</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1456938523000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1456938523000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064664000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064664000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064686000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064686000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064733000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064733000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064740000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064740000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064749000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064749000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064759000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064759000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064802000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064802000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064809000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064809000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064817000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064817000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064829000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064829000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064833000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064833000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064845000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064845000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064850000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064850000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064857000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064857000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064876000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064876000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064876000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064876000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064885000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064885000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064886000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064886000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064891000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064891000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064892000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064892000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064897000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064897000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064897000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064897000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064901000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064901000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064925000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064925000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064962000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064962000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064969000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064969000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064992000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064992000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064993000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064993000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064994000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064994000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064997000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420064997000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065007000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065007000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065011000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065011000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065012000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065012000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065018000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065018000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065023000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065023000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065025000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065025000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065028000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065028000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065054000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065054000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065055000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065055000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065064000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065064000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065072000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065072000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065072000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065072000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065078000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065078000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065090000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065090000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065100000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065100000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065149000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065149000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065156000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065156000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065156000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065156000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065162000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065162000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065173000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065173000</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051183143</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051183143</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051183142</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051183142</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051183144</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051183144</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051183145</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051183145</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051183153</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051183153</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051183144</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051183144</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051183144</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051183144</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051183153</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051183153</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1456938534000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1456938534000</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051183900</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051183900</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051183900</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051183900</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051183901</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051183901</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051183901</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051183901</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051183903</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051183901</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051183902</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051183903</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051183903</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051183901</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051183902</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051183903</font><br /><br />
<font color="green">cent1 detected FrequentEachLongCall at 1479051183941</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065174000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065174000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065178000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065178000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065197000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065197000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065200000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065200000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065219000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065219000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065227000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065227000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065229000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065229000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065237000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065237000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065266000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065266000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065299000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065299000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065299000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065299000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065322000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065322000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065346000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065346000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065346000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065346000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065346000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065346000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065351000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065351000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065353000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065353000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065355000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065355000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1456938545000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1456938545000</font><br /><br />
<font color="green">cent1 detected halfFrequentLongCalls at 1479051193230</font><br /><br />
<font color="green">cent1 detected LongCallAtNight at 1479051193230</font><br /><br />
<font color="green">cent1 detected halfFrequentLongCalls at 1479051193230</font><br /><br />
<font color="green">cent1 detected LongCallAtNight at 1479051193233</font><br /><br />
<font color="green">cent1 detected halfFrequentEachLongCall at 1479051193233</font><br /><br />
<font color="green">cent1 detected halfExpensiveCalls at 1479051193231</font><br /><br />
<font color="green">cent1 detected halfExpensiveCalls at 1479051193234</font><br /><br />
<font color="green">cent1 detected halfFrequentEachLongCall at 1479051193236</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065357000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065357000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065364000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065364000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065366000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065366000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065419000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065419000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065422000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065422000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065430000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065430000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065431000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065431000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065443000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065443000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065444000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065444000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065446000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065446000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065455000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065455000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065473000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065473000</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051199690</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051199690</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051199690</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051199690</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051199690</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051199690</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051199690</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051199690</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065475000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065475000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065478000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065478000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065499000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065499000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065504000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065507000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065510000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065513000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065515000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065544000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065545000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065546000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065549000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065579000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065583000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065591000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065593000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065602000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065603000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065620000</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051209336</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051209336</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065620000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1456938546000</font><br /><br />
<font color="green">cent1 detected halfFrequentLongCalls at 1479051209857</font><br /><br />
<font color="green">cent1 detected halfFrequentEachLongCall at 1479051209858</font><br /><br />
<font color="green">cent1 detected halfExpensiveCalls at 1479051209859</font><br /><br />
<font color="green">cent1 detected LongCallAtNight at 1479051209860</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065626000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065661000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065664000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065664000</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051212347</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051212347</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065680000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065685000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065701000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065712000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065753000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065759000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065769000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065773000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065776000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065782000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065787000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065831000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065851000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065868000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065871000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065872000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065872000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065875000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065878000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065891000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065896000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065912000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1456938547000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065945000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065983000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065984000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065987000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420065988000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066005000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066032000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066037000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066038000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066047000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066070000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066071000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066073000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066074000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066080000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066082000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066096000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066121000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066130000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066143000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066161000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066162000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066167000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066178000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066206000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066209000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066215000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066215000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066218000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066237000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066248000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066268000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066278000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066284000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066296000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066297000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066305000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066325000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1456938555000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066333000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066335000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066380000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066389000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066391000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066405000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066406000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066412000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066414000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066466000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066472000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066484000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066485000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066489000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066507000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066546000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066548000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066554000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066558000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066560000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066572000</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051254149</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051254150</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066580000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066594000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066598000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066608000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066621000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066632000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066638000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066644000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066644000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066654000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066671000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066678000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066701000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066718000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066727000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066729000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066731000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066732000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066767000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066788000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066790000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066791000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066791000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066809000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1456938565000</font><br /><br />
<font color="green">cent1 detected LongCallAtNight at 1479051266297</font><br /><br />
<font color="green">cent1 detected halfExpensiveCalls at 1479051266297</font><br /><br />
<font color="green">cent1 detected halfFrequentLongCalls at 1479051266297</font><br /><br />
<font color="green">cent1 detected halfFrequentEachLongCall at 1479051266297</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066817000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066825000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066827000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066828000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066838000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066863000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066866000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066868000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066873000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066878000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066881000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066913000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066939000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066946000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066975000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066977000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066998000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420066999000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067011000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067037000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067041000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067089000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067123000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067138000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067149000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067154000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067180000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067181000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067186000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067200000</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051281782</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051281782</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067201000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067229000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067245000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067249000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067253000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067258000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067262000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067277000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067286000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067306000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067309000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067314000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067316000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1456938573000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067324000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067328000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067339000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067341000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067342000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067351000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067355000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067362000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067381000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067391000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067400000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067410000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067416000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067429000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067431000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067440000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067455000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067466000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067472000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067474000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067483000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067518000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067525000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067536000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067577000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067601000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067608000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067613000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067635000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067656000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067664000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067668000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067673000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067689000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067696000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067700000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067707000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067712000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067716000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067719000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067727000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067728000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067753000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067761000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067782000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067792000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067793000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067805000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067826000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067850000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067861000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067874000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067923000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067944000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067945000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067973000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067982000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067985000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420067997000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068015000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068033000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068038000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068046000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068049000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1456938576000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068051000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068079000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068084000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068090000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068103000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068107000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068120000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068121000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068127000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068135000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068144000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068151000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068158000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068163000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068175000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068175000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068181000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068213000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068244000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068258000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068276000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068283000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068288000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068315000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068316000</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051333946</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051333947</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068346000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068356000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068375000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068417000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068418000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068448000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068472000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068496000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068532000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068537000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068548000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068610000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068616000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068618000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068624000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068666000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068677000</font><br /><br />
<font color="red">cent1 received LongCallAtNight at 1479051342688</font><br /><br />
<font color="red">cent1 received halfFrequentEachLongCall at 1479051342688</font><br /><br />
<font color="red">cent1 received halfExpensiveCalls at 1479051342688</font><br /><br />
<font color="red">cent1 received halfFrequentLongCalls at 1479051342689</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068691000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068706000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068732000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068739000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068754000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068763000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068768000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068771000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068780000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068784000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068791000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068801000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068802000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068821000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068823000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068853000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068874000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068879000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068880000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068918000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068946000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420068979000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069026000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069107000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069153000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069166000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069205000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069225000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069266000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069288000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069336000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069340000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069363000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069373000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069374000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069388000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069434000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069453000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069484000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069571000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069575000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069580000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069589000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069659000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069685000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069718000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069732000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069744000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069750000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069757000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069770000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069794000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069827000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069843000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069853000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069863000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069873000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420069976000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070066000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070105000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070114000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070131000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070146000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070176000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070182000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070184000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070190000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070194000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070204000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070211000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070216000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070222000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070246000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070255000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070256000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070268000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070270000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070275000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070283000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070328000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070352000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070358000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070391000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070399000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070410000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070458000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070481000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070510000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070555000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070562000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070588000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070594000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070645000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070659000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070663000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070701000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070737000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070792000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070812000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070849000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070860000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070867000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070885000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070892000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070975000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420070977000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071004000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071017000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071023000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071026000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071039000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071095000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071097000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071101000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071207000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071228000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071237000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071243000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071274000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071338000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071347000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071370000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071375000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071400000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071463000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071487000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071504000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071508000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071525000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071546000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071600000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071643000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071682000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071733000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071733000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071742000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071766000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071867000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071995000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420071997000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420072025000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420072045000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420072045000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420072046000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420072046000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420072057000</font><br /><br />
<font color="blue">cent1 received CallPOPDWH at 1420072065000</font><br /><br />
